body 
{
    background-color: rgba(93, 117, 8, 0.541);
    color: deeppink;
    font-family: Arial;
}

h1
{
    color: white;
    font-family: Verdana;
}

.maindiv
{
    background-color: rgb(12, 194, 170);
    color: white;
    width: 500px;
    padding: 30px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* #result
{
    display: none;
} */

.contents
{
    margin-left: 80px;
}

table td
{
    padding-bottom: 10px;
}

#compute
{
    margin-bottom: 10px;
    background-color: green;
    color: white;
    height: 40px;
    width: 325px;
}
#principal{
    height: 25px;
    width: 190px;
}

#years{
    height: 35px;
    width: 200px;
}

#footer
{
    margin-top: 10px;
}

.labels
{
    width: 120px;
}

.highlight
{
    background-color: red;
}